body {
  margin: 0;
}

.top-container {
  background-color: #cff1ef;
  margin: 0;
}

.middle-container {
  background-color: #fbcffc;
  height: 100px;
  width: 100px;
  position: absolute;
}

.bottom-container {
  background-color: #be79df;
  height: 100px;
  width: 100px;
  position: absolute;
  left:100px;
  top:100px;
}

.bottom-container2 {
  background-color: black;
  height: 100px;
  width: 100px;
  left:200px;
  top:200px;
  position: absolute;
}

h1 {
  margin: 0;
}

.web {
  text-decoration: underline;
}
