body {
  margin: 0;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}

.top-container {
  background-color: #36b5b0;
  margin: 0;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #9dd8c8;
}

.bottom-container {
  background-color: #f09595;
}

h1 {
  font-family: 'Patrick Hand', cursive;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #FFFFFF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #FFFFFF;
}

a, h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: #11999E;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
  line-height: 2;
}

.web {
  text-decoration: underline;
}

.cloud-top {
  position: absolute;
  right: 300px;
  top: 50px;
}

.cloud-bottom {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.email-icon {
  width: 75px;
  height: auto;
}

.banner-icon {
  width: 75px;
  height: auto;
}

.fw-norm {
  font-weight: normal;
}
