body {
  margin: 0;
  text-align: center;
}

.top-container {
  background-color: #cff1ef;
  margin: 0;
}

.middle-container {
  background-color: #fbcffc;
  height: 100px;
  width: 100px;
}

.bottom-container {
  background-color: #be79df;
  height: 100px;
  width: 100px;
}

h1 {
  margin: 0;
  width: 15%;
  margin:0 auto;
}

.web {
  text-decoration: underline;
}
